
{% extends "base.html" %}

{% block title  %}
    List
{% endblock title %}


{% block content %}
    {% for airplane in object_list %}

<!--     <div>
        <ul>
            <li>
                <h1>{{airplane.name}}</h1>
            </li>
            <li>
                <p>{{airplane.weight}}</p>
            </li>
            <li>
                <p>{{airplane.passengers}}</p>
            
            </li>

            <li>    <p>{{airplane.other_info}}</p>
            </li>
        </ul><br>

        <a href="{% url 'detail-page' airplane.id %}">More Detail</a>
</div> -->

<div class="row">
  
 <div class="card-body">

        <div class="card " style="width: 18rem;">
  <img class="card-img-top" src="{{ airplane.picture.url }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">airplane.name</h5>
    <p class="card-text">{{ airplane.other_info }}</p>
    <a href="{% url 'detail-page' airplane.id %}" class="btn btn-primary ml-2">More Detail</a>
 
    <a href="{% url 'update-page' airplane.id %}" class="btn btn-primary">Edit</a>
    <p></p>
    <a href="{% url 'delete-page' airplane.id %}" class="btn btn-primary">Delete</a>
  </div>
</div>
        
        </div>

        </div>



      
    {% endfor %}
    {% endblock content %}